! font settings
*.font: Ioveska Term:size=12
urxvt.font: xft: Ioveska Term:size=12
dmenu.font: Ioveska Term:size=12

Xft.hinting: true
Xft.autohint: true
Xft.rgba: true
Xft.lcdfilter: lcddefault

! urxvt settings
urxvt.termName: rxvt-unicode-256color
urxvt.scrollBar: false
urxvt.scrollbar_right: false
urxvt.internalBorder: 25
urxvt.cursorBlink: true
! urxvt.transparent: true
! urxvt.shading: 10

! sxiv settings
Sxiv.font: Ioveska Term
Sxiv.foreground: #f2f2f2
Sxiv.background: #0c0c0c

! general
*.alpha: 0.9
*background: #0c0c0c
*foreground: #f2f2f2
*.cursorColor: #f2f2f2
*fading: 35
*fadeColor: #4C566A

! blacks
*color0: #0c0c0c
*color8: #88C0D0

! reds
*color1: #3B4252
*color9: #81A1C1

! greens
*color2: #434C5E
*color10: #5E81AC

! yellows
*color3: #4C566A
*color11: #BF616A

! blues
*color4: #D8DEE9
*color12: #D08770

! magentas
*color5: #E5E9F0
*color13: #EBCB8B

! cyans
*color6: #ECEFF4
*color14: #A3BE8C

! whites
*color7: #8FBCBB
*color15: #B48EAD
